.player {
    max-width: 750px;
    margin: 40px auto;
}

.player__video {
    width: 100%;
}

.controls {
    display: flex;
    gap: 8px;
    background: #222;
    padding: 10px;
}

.progress {
    flex: 1;
    background: #555;
    height: 8px;
    cursor: pointer;
}

.progress__filled {
    width: 0%;
    height: 100%;
    background: #ffc600;
}

.player__button,
.player__slider {
    cursor: pointer;
}
